name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      # Backend Install
      - name: Install Backend Dependencies
        run: |
          cd server
          npm install

      # Frontend Install
      - name: Install Frontend Dependencies
        run: |
          cd client
          npm install

      # Frontend Build Test
      - name: Build Frontend
        run: |
          cd client
          npm run build

      # Docker Build Validation
      - name: Build Docker Images
        run: docker compose build